//Displays a header for the city name that you are trying to find the weather for
<h1>Weather for <%= weather.name %></h1>
//displays the temperature
<p>Temperature: <%= weather.main.temp %>°C</p>
//displays the weather description
<p>Weather: <%= weather.weather[0].description %></p>