//sets up the form
<form action="/weather" method="POST">
    //asks for city label
    <label for="city">Enter city:</label>
    //user inputs city
    <input type="text" id="city" name="city" required>
    //user will click a button that will submit the weather
    <button type="submit">Get Weather</button>
</form>